{% extends 'index.html' %} 

{% block title %}| Pendidikan {% endblock %}

{% block body %}

<div class="section">
    {% comment %} <h2 class="section-title">Pendidikan</h2> {% endcomment %}
    <div class="section-content">
        <p><strong>SMPN 2 Garut</strong> - Garut, 2017 - 2020</p>
        <p><strong>SMA Pasundan 1 Bandung</strong> - Kota, 2020 - 2023</p>
        <p><strong>Sarjana Pendidikan Ilmu Komputer</strong> - Universitas Pendidikan Indonesia, 2023 - Sekarang</p>
    </div>
</div>

{% endblock %}