{% extends 'index.html' %} 

{% block title %}| Pekerjaan {% endblock %}

{% block body %}

<div class="section">
    {% comment %} <h2 class="section-title">Pengalaman</h2> {% endcomment %}

    <div class="section-content">
        <p><strong>Sekolah Menengah Pertama</strong> - SMPN 2 Garut 2017 - 2020</p>
        <ul>
            <li>Menjadi peserta <span style="color:red;font-weight:bold;">Olimpiade Biologi</span> yang diselengarakan ditahun 2019</li>
            <li>Menjadi peserta perlombaan karya tulis ilmiah ditahun 2019</li>
        </ul>
        <p><strong>Universitas</strong> - Universitas Pendidikan Indonesia 2023 - Sekarang</p>
        <ul>
            <li>Menjadi peserta Gemastik bagian Game Development tahun 2024</li>
        </ul>
    </div>
</div>

{% endblock %}